/*------------------------------*/
/* Universelle                  */
/*------------------------------*/

/* wanted to use defined spaces, but turned out to be a hassle */

:root {
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

li {
  list-style: none;
}

/*------------------------------*/
/* Navigation                     */
/*------------------------------*/

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
}

.nav-hovedmenu {
  min-height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-menucontainer {
  margin-left: auto;
}

/* Dark mode toggle container */
.dark-mode {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 1rem;
}

.hamburger-part {
  display: block; /*stacks bars vertically*/
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6rem auto;
}

.nav-menupunkter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

/*------------------------------*/
/* Herosite                     */
/*------------------------------*/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  inset: 0;
  width: 100%;
  min-height: calc(100dvh - 4rem);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-selection > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block; /* Remove bottom whitespace */
  justify-self: center;
  align-self: center;
}

.hero-selection {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  width: 70vw;
  max-width: 1200px;
  min-width: 768px;
}

#om-mig-hero {
  grid-column: 2 / 4; /* Centered in the grid */
  grid-row: 1 / -1;
}

#intro-hero {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#web-hero {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#uxui-hero {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#content-hero {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

/*------------------------------*/
/* Mobil version                */
/*------------------------------*/
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu on mobile */
  }

  .nav-menupunkter {
    position: fixed;
    top: 3.5rem;
    left: -100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-menupunkt {
    margin: 1rem 0;
  }

  .nav-menupunkter.active {
    left: 0;
  }

  .dark-mode {
    padding-right: var(--space-m);
  }

  .hero-selection {
    width: 100vw;
    min-width: auto;
  }
}

/*------------------------------*/
/* Forside                      */
/*------------------------------*/
