/*------------------------------*/
/* Universelle                  */
/*------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

li {
  list-style: none;
}

.navbar {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.hamburger-bar {
  display: block; /*stacks bars vertically*/
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6rem auto;
}

#om-mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*------------------------------*/
/* Mobil version                */
/*------------------------------*/
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger menu on mobile */
  }

  .nav-menu {
    position: fixed;
    top: 4rem;
    left: -100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #om-mig {
    display: grid;
    grid-template-columns: 1fr;
  }
}
