/*------------------------------*/
/* Universelle                  */
/*------------------------------*/

/* Define color scheme and custom colors for light and dark modes,
based on user preference  */

:root {
  color-scheme: light dark;
  --nav_background: light-dark(hsl(0, 0%, 29%), hsl(0, 0%, 29%));
  --nav_text: light-dark(#e7e7e7, #e7e7e7);
  --kimchi_black: light-dark(#303030, #e7e7e7);
  --kimchi_white: light-dark(#e7e7e7, #303030);
  --kimchi_pink: light-dark(#fc9ae6, #d2a3c8);
  --kimchi_turquoise: light-dark(#9afcc2, #a3d2b6);
  --kimchi_green: light-dark(#adfc9a, #acd2a3);
  --kimchi_lavender: light-dark(#7b5f76, #a78fa2);
  --kimchi_purple: light-dark(#d29afc, #bea3d2);
}

body {
  font-family: "Catamaran", sans-serif;

  background-color: var(--kimchi_white); /* Light gray background */
}

header {
  background-color: var(--nav_background);
  position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  color: var(--nav_text);
  text-decoration: none;
}

.nav-logo {
  font-size: 2rem; /* size of logo text */
  font-weight: bold;
}

.nav-logo img {
  height: 2rem; /* Match font-size for visibility */
  width: auto;
}

.nav-link {
  transition: 0.3s ease; /* smooth transition */
  font-family: "Verdana", sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--kimchi_pink); /* hover effect */
}

.hamburger-menu {
  display: none; /* Hidden by default, shown in mobile version */
  cursor: pointer;
}

.hamburger-part {
  background-color: var(--nav_text);
  border-radius: 1rem; /* rounded edges */
  transition: all 0.3s ease;
}

.hero-section {
  background-image: url("/assets/forside/shibuya-horisontal.webp");
}

/*------------------------------*/
/* Mobil version                */
/*------------------------------*/

@media (max-width: 768px) {
  .hamburger-menu.active .hamburger-part:nth-child(1) {
    transform: translateY(0.9rem) rotate(45deg); /* Move down and rotate */
  }
  .hamburger-menu.active .hamburger-part:nth-child(2) {
    opacity: 0; /* Hide middle bar */
  }
  .hamburger-menu.active .hamburger-part:nth-child(3) {
    transform: translateY(-0.9rem) rotate(-45deg); /* Justér for bedre kryds */
  }

  .nav-menupunkter {
    background-color: var(--nav_background);
  }

  .hero-section {
    background-image: url("/assets/forside/shibuya-vertical.webp");
  }
}
